*,
*::before,
*::after {
    box-sizing: border-box;
}

.mess__call-btn {
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 99999;
  width: 50px;
  height: 50px;
  font-size: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  color:white;
  opacity: 0.75;
  transition: opacity 0.3s;
}

.mess__call-btn:hover {
  opacity: 1;
}

.mess__link {
  margin: 5px;  
  font-size: 36px;
}

.mess__link:hover {
  font-size: 42px;
}

.mess__btns-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 60px;
  right: 15px;
  z-index: 99999;
  padding-bottom: 15px;
  opacity: 1;
  transition: right 0.5s, opacity 0.5s;
}

.mess__btns-block--hidden {
  right: -70px;
  opacity: 0;
}