*,
*::before,
*::after {
    box-sizing: border-box;
}

.mess__call-btn {
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 99999;
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  color:white;
  transition: box-shadow 0.3s;
}

.mess__call-btn:hover {
  box-shadow: 0 0 5px black;
  transform: rotate(360deg);
  transition: transform 0.5s;
}

.mess__btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  border-radius: 50%;
  transition: box-shadow 0.3s;
  width: 50px;
  height: 50px;
}

.mess__link {
  width: 30px;
  height: 30px;
}

.mess__btn:hover {
  box-shadow: 0 0  7px black;
}

.mess__btns-block {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 80px;
  right: 15px;
  z-index: 99999;
  opacity: 1;
  transition: bottom 0.5s, opacity 0.5s;
}

.mess__btns-block--hidden {
  bottom: -300px;
  opacity: 0;
}

.fb_dialog {
  visibility: hidden;
}
