*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
  background-color: #2E3436;
}

.mess__call-btn {
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 99999;
  width: 50px;
  height: 50px;
  font-size: 24px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50px;
  color:white;
  transition: box-shadow 0.3s;
}

.mess__call-btn:hover {
  box-shadow: 0 0 5px black;
  transform: rotate(360deg);
  transition: transform 0.5s;
}

.mess__link {
  display: block;
  margin-top: 10px;  
  font-size: 30px;
  border-radius: 50%;
  transition: box-shadow 0.3s;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 54px;
}

.mess__link:hover {
  box-shadow: 0 0  7px black;
}

.mess__btns-block {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 80px;
  right: 15px;
  z-index: 99999;
  opacity: 1;
  transition: bottom 0.5s, opacity 0.5s;
}

.mess__btns-block--hidden {
  bottom: -100px;
  opacity: 0;
}